.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 10px;
  padding: 5px 10px;
  border: solid 1px black;
  margin-bottom: 5px;
  font-size: 15px;
}